<div class="container-wrapper">
  <div class="container">
    <div class="header">
      <h2>Todas las conversaciones</h2>
      <button class="btn-new-chat">+</button>
    </div>

    <div class="search-bar">
      <input 
      type="text" 
      class="lupa" 
      placeholder="Buscar por celular"
      [(ngModel)]="filtro"
      (input)="filtrarCasos()">
    </div>

    <div class="casos-lista">
      <div *ngIf="casos.length === 0" class="empty-message">
        No hay casos asignados
      </div>

      <div *ngFor="let caso of casos"
           class="chat-item"
           [class.chat-seleccionado]="casoSeleccionado?.id === caso.id"
           (click)="abrirChat(caso)">
        <div class="avatar">
          <div class="avatar-placeholder"></div>
        </div>
        <div class="chat-content">
          <div class="chat-header">
            <div class="chat-title">
              <span class="nombre">{{ caso.tipo.nombre }} - {{ caso.numeroUsuario }}</span>
            </div>
            <span class="hora">{{ obtenerHora(caso) }}</span>
          </div>
          <div class="chat-preview">
            <span class="ultimo-mensaje"> Ultimo mensaje: {{ obtenerUltimoMensaje(caso) }} </span>
          </div>
          <div class="chat-status">
            <select class="estado-select"
                    [(ngModel)]="caso.estado"
                    (change)="cambiarEstado($event, caso)"
                    (click)="$event.stopPropagation()">
              <option [value]="0" disabled>Sin atender</option>
              <option [value]="1">En proceso</option>
              <option [value]="2">Finalizado</option>
            </select>
          </div>
        </div>
        <div class="notification-badge" *ngIf="caso.estado === 0"></div>
      </div>
    </div>
  </div>

  <app-chat
    *ngIf="casoSeleccionado"
    [caso]="casoSeleccionado"
    (cerrar)="cerrarChat()"
    (nuevoMensajeRecibido)="actualizarUltimoMensaje($event)">
  </app-chat>
</div>
