/* You can add global styles to this file, and also import other style files */
@use 'styles/variables' as v;
@use 'styles/mixins' as m;
@use 'styles/animations';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: v.$color-gris-muy-light;
}

html, body {
  height: 100%;
}
