<div class="crear-asesor-container">
  <app-menu-admin></app-menu-admin>

  <div class="content">
    <div class="form-container">
      <h1 class="title">Asesor</h1>

      <form (ngSubmit)="!todoForm.invalid && save()" #todoForm="ngForm">
        <div class="form-group">
          <label for="numeroDocumento">Número Documento</label>
          <input
            type="text"
            id="numeroDocumento"
            [(ngModel)]="e.numeroDocumento"
            name="numeroDocumento"
            placeholder="Ingresar cédula.."
            required
          />
        </div>

        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input
            type="text"
            id="nombre"
            [(ngModel)]="e.nombre"
            name="nombre"
            placeholder="Ingresar nombre completo.."
            required
          />
        </div>

        <div class="form-group">
          <label for="tipoDocumento">Tipo de Documento</label>
          <select type="text" name="tipo" required="required" [(ngModel)]="e.tipo_documento">
            <option value="" disabled selected>Selecciona el tipo de documento...</option>
            <option value="Cedula">Cedula</option>
            <option value="TarjetaIdentidad">Tarjeta de identidad</option>
            <option value="Pasaporte">Pasaporte</option>
          </select>
        </div>

        <div class="form-group">
          <label for="celular">Celular</label>
          <input
            type="text"
            id="celular"
            [(ngModel)]="e.celular"
            name="celular"
            placeholder="Ingresar Celular.."
            required
          />
        </div>

        <div class="form-group">
          <label for="usuario">Usuario</label>
          <input
            type="text"
            id="usuario"
            [(ngModel)]="e.correo"
            name="usuario"
            required
          />
        </div>

        <div class="form-group">
          <label for="contrasena">Contraseña</label>
          <div class="password-container">
            <input
              [type]="mostrarPassword ? 'text' : 'password'"
              id="contrasena"
              [(ngModel)]="e.contrasena"
              name="contrasena"
              required
            />
            <span
                class="toggle-password"
                style="cursor: pointer; padding-top: 20px;"
                (click)="togglePassword()">
                <i [ngClass]="mostrarPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
            </span>
          </div>
        </div>

        <div class="button-container">
          <button type="submit" class="submit-button">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
