<div class="crear-asesor-container">
  <app-menu-asesor></app-menu-asesor>

  <div class="content">
    <div class="form-container">
      <h1 class="title">Asesor</h1>

      <form (ngSubmit)="save()" #todoForm="ngForm">
        <div class="form-group">
          <label for="numeroDocumento">Número Documento</label>
          <input
            type="text"
            id="numeroDocumento"
            [(ngModel)]="e.numeroDocumento"
            name="numeroDocumento"
            placeholder="Ingresar cédula.."
            required
          />
        </div>

        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input
            type="text"
            id="nombre"
            [(ngModel)]="e.nombre"
            name="nombre"
            placeholder="Ingresar nombre completo.."
            required
          />
        </div>

        <div class="form-group">
          <label for="tipoDocumento">Tipo de Documento</label>
          <select
            id="tipoDocumento"
            name="tipo"
            [(ngModel)]="e.tipo_documento"
            required>
            <option value="" disabled>Selecciona el tipo de documento...</option>
            @for (tipo of tiposDocumento; track tipo.valor) {
              <option [value]="tipo.valor">
                {{ tipo.etiqueta }}
              </option>
            }
          </select>
        </div>

        <div class="form-group">
          <label for="celular">Celular</label>
          <input
            type="tel"
            id="celular"
            [(ngModel)]="e.celular"
            name="celular"
            placeholder="Ingresar celular.."
            required
          />
        </div>

        <div class="form-group">
          <label for="usuario">Usuario</label>
          <input
            type="email"
            id="usuario"
            [(ngModel)]="e.correo"
            name="usuario"
            placeholder="Ingresar correo electrónico.."
            required
          />
        </div>

        <div class="form-group">
          <label for="contrasena">Contraseña</label>
          <div class="password-container">
            <input
              [type]="mostrarPassword ? 'text' : 'password'"
              id="contrasena"
              [(ngModel)]="e.contrasena"
              name="contrasena"
              placeholder="Ingresar contraseña.."
              required
            />
            <span
              class="toggle-password"
              (click)="togglePassword()"
              [attr.aria-label]="mostrarPassword ? 'Ocultar contraseña' : 'Mostrar contraseña'">
              <i [ngClass]="mostrarPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
            </span>
          </div>
        </div>

        <div class="button-container">
          <button type="submit" class="submit-button" [disabled]="todoForm.invalid">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
